doc/manuals/ifac-schema.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="AbiChanges"/>
  </start>

  <!-- The representation of an ABI change.  -->
  <define name="AbiChanges">
    <element name="abi-changes">
      <zeroOrMore>
	<ref name="CorpusChange"/>
      </zeroOrMore>
    </element>
  </define>

  <!-- The representation of a change between two types.  -->
  <define name="TypeChange">
    <choice>
      <ref name="BasicTypeChange"/>
      <ref name="EnumTypeChange"/>
      <ref name="TypedefChange"/>
      <ref name="PointerTypeChange"/>
      <ref name="ReferenceTypeChange"/>
      <ref name="QualifiedTypeChange"/>
      <ref name="ArrayTypeChange"/>
      <ref name="DistinctTypeChange"/>
    </choice>
  </define>

  <!-- The representation of a change between two declarations.  -->
  <define name="DeclChange">
    <choice>
      <ref name="VariableDeclChange"/>
      <ref name="FunctionDeclChange"/>
    </choice>
  </define>

  <!-- The representation of a change between two basic types.  -->
  <define name="BasicTypeChange">
    <ref name="NameSizeOrAlignmentChange"/>
    <optional>
      <ref name="VisibilityChange"/>
    </optional>
    <optional>
      <ref name="LinkageNameChange"/>
    </optional>
  </define>

  <!-- The representation of a change between two enum types.  -->
  <define name="EnumTypeChange">
    <ref name="NameSizeOrAlignmentChange"/>
    <optional>
      <ref name="AccessChange"/>
    </optional>
    <!-- Underlying type diff -->
    <optional>
      <ref name="TypeChange"/>
    </optional>
    <!-- Deleted enumerators -->
    <optional>
      <element name="deleted-enumerators">
	<oneOrMore>
	  <ref name="Enumerator"/>
	</oneOrMore>
      </element>
    </optional>
    <!-- Added enumerators -->
    <optional>
      <element name="added-enumerators">
	<oneOrMore>
	  <ref name="Enumerator"/>
	</oneOrMore>
      </element>
    </optional>
    <!-- Changed enumerators -->
    <optional>
      <element name="changed-enumerators">
	<oneOrMore>
	  <ref name="ChangedEnumerator"/>
	</oneOrMore>
      </element>
    </optional>
  </define>

  <!-- The representation of a change between two typedef types.  -->
  <define name="TypedefChange">
    <element name="typedef-change">
      <optional>
	<ref name="AccessChange"/>
      </optional>
      <optional>
	<ref name="NameChange"/>
      </optional>
      <!-- Underlying type change -->
      <optional>
	<ref name="TypeChange"/>
      </optional>
    </element>
  </define>

  <!-- The representation of a chagne between two pointer types.  -->
  <define name="PointerTypeChange">
    <element name="pointer-type-change">
      <!-- Change in pointed-to type -->
      <ref name="TypeChange"/>
    </element>
  </define>

  <!-- The representation of a change between two references types.
       -->
  <define name="ReferenceTypeChange">
    <element name="reference-type-change">
      <!-- Change in referred-to type -->
      <ref name="TypeChange"/>
    </element>
  </define>

  <!-- The representation of a change between two qualified types.
       -->
  <define name="QualifiedTypeChange">
    <element name="qualified-type-change">
      <optional>
	<choice>
	  <ref name="NameChange"/>
	  <!-- Change in the unqualified underlying type -->
	  <ref name="TypeChange"/>
	</choice>
      </optional>
    </element>
  </define>

  <!-- The representation of a change between too array types.  -->
  <define name="ArrayTypeChange">
    <element name="array-type-change">
      <optional>
	<!-- Change in array element type -->
	<ref name="TypeChange"/>
      </optional>
      <optional>
	<!-- Size of the array -->
	<ref name="SizeChange"/>
      </optional>
      <optional>
	<!-- Change of the number of dimensions of the array -->
	<element name="dimension-count-change">
	  <attribute name="old">
	    <text/>
	  </attribute>
	  <attribute name="new">
	    <text/>
	  </attribute>
	</element>
      </optional>
      <optional>
	<!-- Change of length of sub-ranges -->
	<element name="sub-range-changes">
	  <oneOrMore>
	    <element name="sub-range-change">
	      <!-- The index of the sub-range.  Must be a number
	           starting at zero -->
	      <attribute name="index">
		<text/>
	      </attribute>
	      <!-- The old length of the changed array sub-range.
	           Must be a number. -->
	      <attribute name="old">
		<text/>
	      </attribute>
	      <!-- The new length of the changed array sub-range.
	           Must be a number. -->
	      <attribute name="new">
		<text/>
	      </attribute>
	    </element>
	  </oneOrMore>
	</element>
      </optional>
    </element>
  </define>

  <!-- The representation of a change between two types that are not
       of the same kind.  (hence the 'distinct' in the name).  -->
  <define name="DistinctTypeChange">
    <element name="distinct-type-change">
      <attribute name="is-compatible">
	<choice>
	  <value>true</value>
	  <value>false</value>
	</choice>
      </attribute>
      <element name="old-representation">
	<text/>
      </element>
      <element name="new-representation">
	<text/>
      </element>
      <optional>
	<choice>
	  <!-- Change of the two compatible subjects of the
	       DistinctTypeChange -->
	  <ref name="TypeChange"/>
	  <!-- If the two subjects of the DistinctTypeChange are not
	       compatible then it might carry a size or alignment
	       changes -->
	  <ref name="SizeOrAlignmentChange"/>
	</choice>
      </optional>
    </element>
  </define>

  <!-- The representation of an exported variable that has some
       sub-type change. -->
  <define name="VariableDeclChange">
    <element name="var-decl-change">
      <ref name="NameSizeOrAlignmentChange"/>
      <ref name="AccessOrStaticNessChange"/>
      <optional>
	<!-- Changes of the type of the variable declaration. -->
	<ref name="TypeChange"/>
      </optional>
    </element>
  </define>

  <!-- The representation of an exported function that has some
       sub-type change. -->
  <define name="FunctionDeclChange">
    <element name="function-decl-change">
      <ref name="AccessOrStaticNessChange"/>
      <!-- inline-ness change -->
      <optional>
	<element name="inline-ness-change">
	  <attribute name="old"><text/></attribute>
	  <attribute name="new"><text/></attribute>
	</element>
      </optional>
      <!-- Function address size change -->
      <optional>
	<ref name="AddressSizeChange"/>
      </optional>
      <!-- Function address alignment size change -->
      <optional>
	<ref name="AddressAlignmentSizeChange"/>
      </optional>
      <optional>
	<!-- Return type change -->
	<element name="return-type-change">
	  <ref name="TypeChange"/>
	</element>
      </optional>
      <optional>
	<!-- Removed parameters. -->
	<element name="removed-parameters">
	  <oneOrMore>
	    <element name="removed-parameter">
	      <attribute name="index"><text/></attribute>
	      <element name="pretty-representation">
		<text/>
	      </element>
	    </element>
	  </oneOrMore>
	</element>
      </optional>
      <optional>
	<!-- Parameters that have changed sub-types. -->
	<element name="changed-parameters">
	  <oneOrMore>
	    <element name="changed-parameter">
	      <!-- The index of the changed parameter.  It's a number
	           that starts at zero. -->
	      <attribute name="index"><text/></attribute>
	      <!-- Change in the type of the variable. -->
	      <ref name="TypeChange"/>
	    </element>
	  </oneOrMore>
	</element>
      </optional>
      <optional>
	<!-- Added parameters -->
	<element name="added-parameters">
	  <oneOrMore>
	    <element name="added-parameter">
	      <attribute name="index"><text/></attribute>
	      <element name="pretty-representation">
		<text/>
	      </element>
	    </element>
	  </oneOrMore>
	</element>
      </optional>
    </element>
  </define>

  <!-- A change between two corpora denotes ... -->
  <define name="CorpusChange">
    <element name="corpus-change">
      <!-- either a soname change ... -->
      <optional><ref name="SonameChange"/></optional>
      <!-- either an architecture change ... -->
      <optional><ref name="ArchChange"/></optional>
      <!-- either some exported functions that got removed ... -->
      <optional><ref name="RemovedFunctions"/></optional>
      <!-- or some exported variable that got removed ... -->
      <optional><ref name="RemovedVariables"/></optional>
      <!-- or some exported functions that have sub-type changes ... -->
      <optional><ref name="ChangedFunctions"/></optional>
      <!-- or some exported variables that have sub-type changes ... -->
      <optional><ref name="ChangedVariables"/></optional>
      <!-- or some exported functions that got added ... -->
      <optional><ref name="AddedFunctions"/></optional>
      <!-- or some exported variables that got added ... -->
      <optional><ref name="AddedVariables"/></optional>
      <!-- or some exported function symbol (not referenced from any
           function debug info) that got removed ... -->
      <optional><ref name="RemovedFunctionSymbols"/></optional>
      <!-- or some exported function symbol (not referenced from any
           function debug info) that got added ... -->
      <optional><ref name="AddedFunctionSymbols"/></optional>
      <!-- or some exported variable symbol (not referenced from any
           function debug info) that got removed ... -->
      <optional><ref name="RemovedVariableSymbols"/></optional>
      <!-- or some exported variable symbol (not referenced from any
           function debug info) that got added ... -->
      <optional><ref name="AddedVariableSymbols"/></optional>
    </element>
  </define>

  <!-- List of functions that got added -->
  <define name="AddedFunctions">
    <element name="added-functions">
      <oneOrMore>
	<ref name="FunctionDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- List of functions that got removed -->
  <define name="RemovedFunctions">
    <element name="removed-functions">
      <oneOrMore>
	<ref name="FunctionDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- Representation of a list of added function symbols not
       referenced by any debug info.  -->
  <define name="AddedFunctionSymbols">
    <element name="added-function-symbols">
      <oneOrMore>
	<ref name="SymbolDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- Representation of a list of removed function symbols not
       referenced by any debug info.  -->
  <define name="RemovedFunctionSymbols">
    <element name="removed-function-symbols">
      <oneOrMore>
	<ref name="SymbolDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- Representation of a list of added variable symbols not
       referenced by any debug info.  -->
  <define name="AddedVariableSymbols">
    <element name="added-variable-symbols">
      <oneOrMore>
	<ref name="SymbolDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- Representation of a list of removed variable symbols not
       referenced by any debug info.  -->
  <define name="RemovedVariableSymbols">
    <element name="removed-variable-symbols">
      <oneOrMore>
	<ref name="SymbolDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- List of variables that got added -->
  <define name="AddedVariables">
    <element name="added-variables">
      <oneOrMore>
	<ref name="VariableDecl"/>
      </oneOrMore>
    </element>
  </define>
  
  <!-- List of variables that got removed -->
  <define name="RemovedVariables">
    <element name="removed-variables">
      <oneOrMore>
	<ref name="VariableDecl"/>
      </oneOrMore>
    </element>
  </define>

  <!-- List of functions with sub-type changes -->
  <define name="ChangedFunctions">
    <element name="changed-functions">
      <oneOrMore>
	<ref name="FunctionDeclChange"/>
      </oneOrMore>
    </element>
  </define>

  <!-- List of functions with sub-type changes -->
  <define name="ChangedVariables">
    <element name="changed-variables">
      <oneOrMore>
	<ref name="VariableDeclChange"/>
      </oneOrMore>
    </element>
  </define>

  <!-- The representation of a function entry point -->
  <define name="FunctionDecl">
    <element name="function-decl">
      <element name="pretty-representation"><text/></element>
      <ref name="SymbolDecl"/>
    </element>
  </define>

  <!-- The representation of a variable entry point -->
  <define name="VariableDecl">
    <element name="variable-decl">
      <element name="pretty-representation"><text/></element>
      <ref name="SymbolDecl"/>
    </element>
  </define>

  <!-- Representation of a symbol entry point-->
  <define name="SymbolDecl">
    <element name="symbol-decl">
      <attribute name="name"><text/></attribute>
      <attribute name="version"><text/></attribute>
      <optional>
	<attribute name="kind">
	  <choice>
	    <value>function</value>
	    <value>variable</value>
	  </choice>
	</attribute>
      </optional>
      <zeroOrMore>
	<element name="alias"><text/></element>
      </zeroOrMore>
    </element>
  </define>

  <!-- Representation of a soname change.  -->
  <define name="SonameChange">
    <element name="soname-change">
      <ref name="NewAndOldAttr"/>
    </element>
  </define>

  <!-- Representation of an architecture change.  -->
  <define name="ArchChange">
    <element name="arch-change">
      <ref name="NewAndOldAttr"/>
    </element>
  </define>

  <define name="OldAttr">
    <attribute name="old">
      <text/>
    </attribute>
  </define>

  <define name="NewAttr">
    <attribute name="new">
      <text/>
    </attribute>
  </define>

  <define name="NewAndOldAttr">
    <group>
      <ref name="OldAttr"/>
      <ref name="NewAttr"/>
    </group>
  </define>

  <define name="NameChange">
    <element name="name-change">
      <ref name="NewAndOldAttr"/>
    </element>
  </define>

  <define name="SizeChange">
    <element name="size-change">
      <ref name="NewAndOldAttr"/>
    </element>
  </define>

  <define name="AddressSizeChange">
    <element name="address-size-change">
      <ref name="NewAndOldAttr"/>
    </element>
  </define>

  <define name="AlignmentChange">
    <element name="alignment-change">
      <ref name="OldAttr"/>
      <ref name="NewAttr"/>
    </element>
  </define>

  <define name="AddressAlignmentChange">
    <element name="address-alignment-change">
      <ref name="OldAttr"/>
      <ref name="NewAttr"/>
    </element>
  </define>

  <define name="NameSizeOrAlignmentChange">
    <optional>
      <ref name="NameChange"/>
    </optional>
    <optional>
      <ref name="SizeChange"/>
    </optional>
    <optional>
      <ref name="AlignmentChange"/>
    </optional>
  </define>

  <define name="SizeOrAlignmentChange">
    <optional>
      <ref name="SizeChange"/>
    </optional>
    <optional>
      <ref name="AlignmentChange"/>
    </optional>
  </define>

  <define name="VisibilityChange">
    <element name="visibility-change">
      <ref name="OldAttr"/>
      <ref name="NewAttr"/>
    </element>
  </define>

  <define name="LinkageNameChange">
    <element name="linkage-name-change">
      <ref name="OldAttr"/>
      <ref name="NewAttr"/>
    </element>
  </define>

  <define name="StaticNessChange">
    <element name="static-ness-change">
      <attribute name="old">
	<choice>
	  <value>static</value>
	  <value>non-static</value>
	</choice>
      </attribute>
      <attribute name="new">
	<choice>
	  <value>static</value>
	  <value>non-static</value>
	</choice>
      </attribute>      
    </element>
  </define>

  <define name="AccessChange">
    <element name="access-change">
      <attribute name="old">
	<text/>
      </attribute>
      <attribute name="new">
	<text/>
      </attribute>
    </element>
  </define>

  <define name="AccessOrStaticNessChange">
    <optional>
      <ref name="AccessChange"/>
    </optional>
    <optional>
      <ref name="StaticNessChange"/>
    </optional>
  </define>

  <define name="Enumerator">
    <element name="enumerator">
      <choice>
	<attribute name="qualified-name">
	  <text/>
	</attribute>
	<attribute name="name">
	  <text/>
	</attribute>
      </choice>
      <attribute name="value">
	<text/>
      </attribute>
    </element>
  </define>

  <define name="ChangedEnumerator">
    <element name="changed-enumerator">
      <choice>
	<attribute name="qualified-name">
	  <text/>
	</attribute>
	<attribute name="name">
	  <text/>
	</attribute>
      </choice>
      <attribute name="old-value">
	<text/>
      </attribute>
      <attribute name="new-value">
	<text/>
      </attribute>
    </element>
  </define>
</grammar>
